@charset "UTF-8";
// style.scssから移動
.main-content {
  overflow: hidden;
}
.pane-main-content {
  padding-top: 5px;
  @include MQ(XS) {
    padding-top: 3px;
  }
}

// 横幅980px ====================
.wrapper-short {
  max-width: 980px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}