@charset "UTF-8";
// style.scssから移動
.form-actions.form-wrapper {
  margin: 0;
}

// 問い合わせフォーム .pane-inquiry-form ====================
.pane-inquiry-form {
  form > div > div.form-item, .form-item.webform-component-file {
    overflow: hidden;
    border-bottom: 1px solid #0051A6;
    margin: 0;
    background: #f0f0f0;
    margin: 0;
    padding: 15px 0;
  }
  form > div > div.form-item {
    &:first-child {
      border-top: 1px solid #0051A6;
    }
    > {
      label, div.select-or-other > div > label {
        display: block;
        padding: 7px 15px;
        line-height: 1.2;
        font-size: 1.3rem;
        margin: 0;
        color: #333;
        float: left;
        width: 30%;
      }
    }
  }
  .form-item.webform-component-file > label {
    display: block;
    padding: 7px 15px;
    line-height: 1.2;
    font-size: 1.3rem;
    margin: 0;
    color: #333;
    float: left;
    width: 30%;
  }
  .select-or-other .form-group {
    background: #f0f0f0;
    margin: 0;
  }
  .form-radios {
    overflow: hidden;
  }
  input {
    &[type='password'], &[type='tel'], &[type='email'], &[type='text'] {
      margin-left: calc(30% + 10px);
      width: calc(70% - 30px);
    }
  }
  .grippie, textarea, .form-radios, .form-managed-file, .description, select {
    margin-left: calc(30% + 10px);
    width: calc(70% - 30px);
  }
  .webform-component-date select, .webform-component-time select {
    width: auto;
    margin-left: 10px;
    display: inline;
  }
}

@media (max-width: 767px){
  .pane-inquiry-form {
    form > div > div.form-item > {
      label, div.select-or-other > div > label {
        padding: 7px 15px;
        float: none;
        width: auto;
      }
    }
    .form-item.webform-component-file > label {
      padding: 7px 15px;
      float: none;
      width: auto;
    }
    input {
      &[type='password'], &[type='tel'], &[type='email'], &[type='text'] {
        width: calc(100% - 30px);
        margin: 0 15px;
      }
    }
    .grippie, textarea, .form-radios, .form-checkboxes, .form-managed-file, .description, select {
      width: calc(100% - 30px);
      margin: 0 15px;
    }
  }

  #edit-submitted-file-upload-button {
    margin: 15px 0;
  }
}

// webform
@media (min-width: 768px) {
  form.webform-client-form div.webform-component-checkboxes .form-checkboxes,
  form.webform-client-form div.webform-component-select-or-other .form-checkboxes {
    margin-left: calc(30% + 10px);
  }
}